@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

.magic-font {
  font-family: 'Cinzel Decorative', serif;
}
@keyframes floating {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-40px) translateY(20px);
  }
}

@keyframes floating-slow {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(60px) translateY(-30px);
  }
}

.animate-floating {
  animation: floating 6s ease-in-out infinite;
}

.animate-floating-slow {
  animation: floating-slow 10s ease-in-out infinite;
}
