@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes floating {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-40px) translateY(20px);
  }
}

@keyframes floating-slow {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(60px) translateY(-30px);
  }
}

.animate-floating {
  animation: floating 6s ease-in-out infinite;
}

.animate-floating-slow {
  animation: floating-slow 10s ease-in-out infinite;
}
